@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-screen h-screen flex flex-col bg-gray-10 text-dark-100;
  @apply dark:bg-dark-90 dark:text-white;
  @apply overflow-x-hidden;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

@layer utilities {
  .mask-blob {
    mask-image: url("../assets/blob.svg");
    -webkit-mask-image: url("../assets/blob.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50% 80%;
    -webkit-mask-position: 50% 80%;
    mask-size: 120%;
    -webkit-mask-size: 120%;
  }
}
